/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
  }

  .popup .showBad {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-animation: fadeOut 4s;
    animation: fadeOut 4s;
  }

  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

   /* Add animation (fade out the popup) */
   @-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
  }