body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#636363;
  min-height: 800px;
  background-blend-mode:lighten;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

 header{
  background-color: #d3d3d3;
  color:#ffffff;
  padding-top:20px;
  min-height:30px;
  max-height: 45px;
  border-bottom:#ffffff 3px solid;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.btnSignIn1{
  color:#d3d3d3;
}

#h{
  color:#ffffff;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  padding:10px;
  margin-top:20px;
  color:#ffffff;
  background-color:#d3d3d3;
  border-top: #ffffff 3px solid;
  text-align: center;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
