body {
  padding : 10px ;

}

#exTab1 .tab-content {
  color :#686868;
  background-color:white;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}
.style{
  color:#3cb371;
  font-size: 30px;
  margin-right: 15px;
}
